*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#container{
    width:100%;
    display:flex;
    justify-content: space-around;
    margin-top:20px;

}
#container>div{
    height:600px;
    width:40%;
   
}   
#container>div:nth-child(1){
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.head{
    font-size: 40px;
   
  
}
#button-1{
    width:30%;
    padding:5px;
    background-color: black;
    color:white;
    border-radius: 3px;
    border:none;
    height:40px;
    margin-top: 30px;
}
.para-1{
    font-weight: 200;
    margin-top: 20px;
}
.img-1{
    width:100%;
}
.middle-para{
    border:1px solid green;
    text-align: center;
    margin-top:50px;
}
#container-2{
   display:flex;
}
#container-3{
    border:1px solid red;
    width:60%;
    height:200px;
    margin:auto;
    margin-top: 200px;
}
#container-3>h3{
    text-align: center;
    font-size: 40px;
}
#container-3>p{
    width:70%;
    border:1px solid blue;
    margin:auto;
    margin-top: 20px;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    line-height: 1.5;
}
#container-4{
    width:90%;
    border:1px solid green;
    margin:auto;
    margin-top:120px;
}
#container-4>img{
    width:100%;
}


