*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
#top{
    margin-top: 5px;
    width: 100%;
    height: 65px;
    /* background: #fff; */
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#left{
    display: flex;
    align-items: center;
}
div>img{
    width: 45px;
}
input[type="text"]{
    border-radius: 25px;
    padding: 10px 15px;
    margin-left: 30px;
    width: 700px;
}
#right>ul{
    display: flex;
    margin-top: 10px;
}
#right>ul>li{
    margin: 0 12px;
}
#right>ul>li>a{
    display: block;
    padding: 8px 10px;
    font-size: 20px;
}
a>img{
    width: 20px;
}
a>button{
    width: 100px;
}
#bottom{
    width: 100%;
    /* background: #f9f9f9; */
    height: 45px;
    padding: 0 50px;
}
#bottom>ul{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bottom>ul>li>a{
    color: #494949;
    font-size: 16px;
}