*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

.navbar {
	position: sticky;
	top: 0px;
	background-color: #ffffff;
}

.navbar > .row-1 {
	display: grid;
	grid-template-columns: 60px minmax(auto, 45%) 1fr auto;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
	column-gap: 40px;
}

.links {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar .row-1 .logo {
	height: 60px;
}

#search-bar {
	width: 100%;
}

#search-bar input {
	width: 100%;
	height: 40px;
	border-radius: 25px;
	border: none;
	background-color: #eeeeee;
	padding-left: 50px;
	font-size: 14px;
}

#search-bar input:focus,
#search-bar input:hover {
	outline: solid 1px #9f9f9f;
	background-color: #ffffff;
}

.fa-search {
	position: relative;
	z-index: 1;
	margin-right: -35px;
	color: #8c8c8c;
}

a {
	text-decoration: none;
	color: #767676;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 15px;
}

.fa-hamburger-menu {
	color: #767676;
	margin-right: 40px;
}

#submit {
	background-color: #ffffff;
	border: solid 1px #ababab;
	border-radius: 5px;
	padding: 8px 15px;
	font-size: 14px;
	color: #767676;
}

.row-2 {
	display: flex;
	justify-content: space-evenly;
	padding-top: 20px;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-evenly;
	box-shadow: 0 6px 4px -4px rgba(108, 108, 108, 0.7);
}

.row-2 > * {
	display: block;
	margin: 0 10px;
	padding-bottom: 20px;
}

.content {
	margin: 60px 100px 100px;
	display: grid;
	grid-template-columns: 650px 425px;
	justify-content: space-between;
}

#block-1 {
	width: 100%;
}

#block-1 h1 {
	font-weight: 700;
	font-size: 46px;
	margin-bottom: 15px;
}

#block-1 p {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
}

#block-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 30px;
	font-size: 14px;
	font-weight: 400;
	border: solid 1px #aaaaaa;
	border-radius: 5px;
	width: 100%;
}

#block-2 > div {
	display: flex;
	align-items: center;
}

#block-2 > div:not(:nth-child(4)) {
	border-bottom: solid 1px #aaaaaa;
	padding-bottom: 15px;
}

#block-2 > div:not(:first-child) {
	padding-top: 15px;
}

#block-2 > div > img:nth-child(1) {
	width: 20px;
	height: 20px;
	margin-right: 15px;
}

#block-2 > div:nth-child(3) > img:nth-child(1) {
	width: 25px;
	height: 25px;
}

#block-2 > div:nth-child(4) > img:nth-child(1) {
	width: 33px;
	height: 33px;
	margin-right: 15px;
}

#block-2 > div:nth-child(4) > div > img {
	width: 22px;
	height: 22px;
	margin-right: 5px;
}

#block-2 > div > img:nth-child(3) {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

#block-2 > div > span:nth-child(3) {
	margin-right: 12px;
}

#block-2 > div > span:nth-child(2) {
	margin-right: auto;
}

#block-2 > button {
	height: 50px;
	border: none;
	background-color: black;
	color: #ffffff;
	border-radius: 5px;
	font-size: 15px;
	margin-top: 15px;
}

#gallery {
	column-count: 3;
	column-gap: 25px;
	width: 85%;
	margin: 0 auto 25px;
}

#gallery > img {
	width: 100%;
}

@media only screen and (max-width: 1000px) {
	#gallery {
		column-count: 2;
	}
}

@media only screen and (max-width: 1300px) {
	.links {
		display: none;
	}

	.navbar > .row-1 {
		grid-template-columns: 60px 1fr auto;
	}

	.content {
		margin-inline: 0;
		grid-template-columns: minmax(auto, 60%);
		grid-template-rows: repeat(auto-fit, min-content);
		justify-content: center;
		row-gap: 75px;
		justify-items: center;
	}

	#block-1 p {
		text-align: center;
	}

	#block-1 h1 {
		text-align: center;
		margin-bottom: 35px;
	}

	#block-2 {
		width: 450px;
	}
}

@media only screen and (max-width: 700px) {
	#gallery {
		column-count: 1;
	}
}
