#img1>img{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    background-color: papayawhip;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
}
#img1{
    column-count: 3;
    max-width: 100%;
    margin: 0px;
    background-color: beige;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, 
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}